<head lang="en" xmlns="http://www.w3.org/1999/html">

    <title>Photo Cert</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

<link href="{% static "home.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>

<style type="text/css"> a.nounderline {text-decoration: none; }</style>

<div class="container">

<header>
    <div id="logoName">
        <span class="firstHalf">home</span><span class="secondHalf">ania</span>
    </div>
    <div id="subLogo">
        <span class = "byLine">real estate marketing services</span>
    </div>
</header>

<div id="titleLine">
    <span class="title">PHOTOGRAPHER CERTIFICATION PROGRAM</span>
</div>

{% block content %}
    <div id="secondline">
        <span class="second">Give Wings to your Passion </span></br>
        <a href="{% url 'login' %}" class="button" >Login</a>
        </br>
        <h5>---------First time here?---------</h5>
        </br>
        <a href="{% url 'register' %}" class="button">Create an account</a>
    </div>

    <div id="footer">

    </div>
{% endblock %}
</div>



</body>





