<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
        {% load static %}


<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <div id="logoName">
        <span class="firstHalf">home</span><span class="secondHalf">ania</span>
    </div>
    <div id="subLogo">
        <span class = "byLine">real estate marketing services</span>
    </div>
</header>

<div id="titleLine1">
    <span class="title1">PHOTOGRAPHER CERTIFICATION PROGRAM</span></br>
    <span class="title1">LEVEL 1</span>
</div>

<div id="nav" align="right" >
    <span class="firstHalf" aria-hidden="true">Hello {{request.user.username | title}}</span>&nbsp;|
    <a href="/static/media/pdf/Real state Photography Guide.pdf" class="nonunderline" target="_blank" ">&nbsp; Download</a> |
    <a href="#"><span aria-hidden="true"></span>&nbsp; Logout</a>
</div>

<div id="Introduction">
    <span class="Intro">Photography has never been more important to selling real estate than it is today.</br>
        The markets are heating up again and demand for real estate creates demand for photography.</br>
        This is good news to photographers, but like any business,</br> there is plenty of competition.
        If you are new to real estate and architecture photography.</br></span>
        <p><b><a href="{% url 'home:quiz_question' 1 %}" class="nonunderline" ><h3>Quiz</h3></a></b></p>
        <p><b><a href="{% url 'home:image_form_upload' %}" class="nonunderline" ><h2>Practical Test</h2></a></b></p>
</body>
</html>
