<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% load static %}
<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />


<div id="titleLine1">
    <span class="title1">PHOTOGRAPHER CERTIFICATION PROGRAM</span></br>
    <span class="title1">LEVEL 1</span>
</div>

<div id="nav" align="right" >
    <span class="firstHalf" aria-hidden="true">Hello {{request.user.username | title}}</span>&nbsp;|
    <a href="#"><span aria-hidden="true"></span>&nbsp; Logout</a>
</div>

{% for val in context %}
    <h2>{{ val.question }}</h2>

<form action="" method="post">
    {% csrf_token %}
    <label for="q1a"><input type="radio" name="q{{ forloop.c }}" value="a" id="q1a">{{ val.option1 }}</label><br/>
    <label for="q1b"><input type="radio" name="q" value="b" id="q1b">{{ val.option2 }}</label><br/>
    <label for="q1c"><input type="radio" name="q" value="c" id="q1c">{{ val.option3 }}</label><br/>
    <label for="q1d"><input type="radio" name="q" value="d" id="q1d">{{ val.option4 }}</label><br/>
    </br>
{% endfor %}

</br>
</form>
<a href="{% url 'home:save' %}" class="button">Submit</a>

</body>
</html>



