<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
        {% load static %}


<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <div id="logoName">
        <span class="firstHalf">home</span><span class="secondHalf">ania</span>
    </div>
    <div id="subLogo">
        <span class = "byLine">real estate marketing services</span>
    </div>
</header>

<div id="titleLine1">
    <span class="title1">PHOTOGRAPHER CERTIFICATION PROGRAM</span></br>
    <span class="title1">LEVEL 2</span>
</div>

<div id="nav" align="right" >
    <b><span class="firstHalf" aria-hidden="true">Hello {{request.user.username | title}}</span>&nbsp;</b> |
    <b><a href="/static/media/pdf/Real Estate and Videography and HDR.pdf" class="nonunderline" target="_blank" ">&nbsp; Download</a></b> |
    <b><a href="#"><span aria-hidden="true"></span>&nbsp; Logout</a></b>
</div>

<div id="Introduction">
    <span class="Intro">The most common method used to create 'good enough' real estate photos is HDR:</br>
                        whether it is tonemapping or exposure fusion,</br>
                        HDR is definitely the most-used method for real estate and beginner interior photographers.</br>
                        There are plenty of comments debating the use of HDR and the use of flash in the comments.</br>
                        Flash users insult HDR users, HDR users insult flash users, everyone cuts a knee open, and everyone goes home disappointed.</br>
                        It is as dependable as the sun rising and setting</span>
    <span class="options">
         <b><a href="{% url 'home:quiz_question' 2 %}" class="nonunderline"><h2>Quiz</h2></a></b>
         <b><a href="{% url 'home:image_form_upload' %}" class="nonunderline"><h2>Practical Test</h2></a></b>
    </span>

</body>
</html>