<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
        {% load static %}


<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <div id="logoName">
        <span class="firstHalf">home</span><span class="secondHalf">ania</span>
    </div>
    <div id="subLogo">
        <span class = "byLine">real estate marketing services</span>
    </div>
</header>

<div id="titleLine1">
    <span class="title1">PHOTOGRAPHER CERTIFICATION PROGRAM</span></br>
    <span class="title1">LEVEL 3</span>
</div>

<div id="nav" align="right" >
    <b><span class="firstHalf" aria-hidden="true">Hello {{request.user.username | title}}</span>&nbsp;</b> |
    <a href="/static/media/pdf/Aerial Photography Guide.pdf" class="nonunderline" target="_blank" ">&nbsp; Download</a>|
    <a href="#"><span aria-hidden="true"></span>&nbsp; Logout</a>
</div>

<div id="Introduction">
    <span class="Intro">High up on our photography bucket list is to try an aerial photo shoot for the first time.</br>
                        The aerial perspective is mesmerizing to say the least.</br>
                        Whether it’s a traditional aerial landscape like this one,</br>
                        or stunning abstract aerials like the ones scattered throughout this post,</br>
                        every aerial photograph we’ve seen makes us want to take to the skies just a little bit more until—someday</br>
                        soon—we’ll bite the financial bullet and just do it.</span>
    <p><b><a href="{% url 'home:quiz_question' 3 %}" class="nonunderline"><h2>Quiz</h2></a></b></p>
    <p><b><a href="{% url 'home:image_form_upload' %}" class="nonunderline"><h2>Practical Test</h2></a></b></p>

</body>
</html>