<!DOCTYPE html>
<html>
{% extends "home/base.html" %}
{% block content %}
    {% if validlink %}
        <h3>Change Password</h3>
        <form method="post">
            {% csrf_token %}
            {% include 'home/form_template.html' %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    {% else %}
      <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      </p>
    {% endif %}
{% endblock %}
</html>