

header {
    color: #FFFFFF;
    background-color: black;
    text-align: center;
    height: 250px;
}


.firstHalf {
    color:lightskyblue;
    font-weight:normal;
    font-family:Arial;
    vertical-align: text-bottom;

}
.secondHalf {
    color:#FBFCFC;
    font-weight:normal;
    font-family:Arial;
    vertical-align: text-bottom;

}
.byLine{
    width: 100%;
    font-size: 50px;
}

#logoName{

    padding-bottom: 0;
    font-size:150px;
    margin-bottom: -20px;
}
#subLogo{

    padding-top: 0;
    vertical-align: top;
    margin-top: -10px;

}

#titleLine{
    background-color: lightskyblue;
    text-align: center;
    font-size: 70px;
    height: 130px;
    padding-top: 35px;
}
.title{
    color: #FFFFFF;
    font-family:Arial;
    vertical-align: text-top;
}

#secondline{
    background-color: azure;
    text-align: center;
    font-size: 60px;
    height: 50px;
    vertical-align: middle;
}

.second{
    color: black;
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
}


a {
    background-color: azure;
    color: lightskyblue;
    text-decoration: none;
    font-size: 45px;

}

.button {
    background-color: lightskyblue;
    border: snow;
    color: black;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none!important;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

h5 {
    line-height: 0;
    font-size: 15px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position:relative;
    display: inline-block;
    padding: 0 8px 0 7px;
    margin-top: 0;
    box-sizing: border-box;

}
#footer {
    color: #FFFFFF;
    background-color: black;
    text-align: right;
    height: 50px;
}
#secondline{
    height: 300px;
}